.Auth-container{
  background-image: url(./assets/images/AuthBgImge.jpg);
  background-size: cover;
}
.overlay{
  background: linear-gradient(45deg, rgba(47, 140, 96, 0.43),rgba(0, 0, 0, 0.62));
}

.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  color: white;
  height: 100vh;
  /* border-right: none !important; */
  border-top-right-radius: 58px;
}

.sidebar-container .ps-sidebar-container  .ps-menu-button:hover{
  background-color: rgba(0, 176, 77, 0.2);
}

.sidebar-container .ps-sidebar-container .togglerImg
 {
  padding: 41px 0px;
 }
 .sidebar-container .ps-sidebar-container .togglerImg  .ps-menu-button:hover{
  background-color: transparent;
 }



.sidebar-container .ps-sidebar-container .togglerImg
 .ps-menu-button .ps-menu-icon img{
  width: 200px !important;
  margin-left: 50px;
 }
.sidebar-container .ps-collapsed  .ps-sidebar-container .togglerImg
 .ps-menu-button .ps-menu-icon img{
  width: 100px !important;
  margin-left: 5px;
 }

 .imgCon .myImg{
  width: 50px;
  text-align: center;
 }

 .header-container{
  background-image: url(./assets/images/Rectangle.png);
  background-size: cover;
  color: white;
 }

.home-container{
  background-color: #F0FFEF
  ;
}
.table-user-img{
  height: 60px !important;
}