.Auth-container{
  background-image: url(./assets/images/AuthBgImge.jpg);
  background-size: cover;
}
.overlay{
  background: linear-gradient(45deg, rgba(47, 140, 96, 0.7),rgba(0, 0, 0, 0.62));
}
.sidebar{
  background-color: #1f263e;
  border-top-right-radius: 58px;

}
.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  color: white;
  height: 100vh;
  /* border-right: none !important; */
  border-top-right-radius: 58px;
  /* position: fixed; */
}

.sidebar-container .ps-sidebar-container  .ps-menu-button:hover{
  background-color: rgba(0, 176, 77, 0.2);
}

.sidebar-container .ps-sidebar-container .togglerImg
 {
  padding: 41px 0px;
 }
 .sidebar-container .ps-sidebar-container .togglerImg  .ps-menu-button:hover{
  background-color: transparent;
 }



.sidebar-container .ps-sidebar-container .togglerImg
 .ps-menu-button .ps-menu-icon img{
  width: 200px !important;
  margin-left: 50px;
 }
.sidebar-container .ps-collapsed  .ps-sidebar-container .togglerImg
 .ps-menu-button .ps-menu-icon img{
  width: 100px !important;
  margin-left: 5px;
  
 }

 .imgCon .myImg{
  width: 50px;
  text-align: center;
 }

 .header-container{
  background-image: url(./assets/images/Rectangle.png);
  background-size: cover;
  color: white;
 }

.home-container{
  background-color: #F0FFEF
  ;
}
.table-user-img{
  height: 60px !important;
}



.test-test{

  width: 150px;
  height: 80px;
  position: absolute;
  right: 40px;
  top: 30px;
  border-radius: 20px;
  padding: 10px;
  /* display: none; */
  
}
i, a {
  cursor: pointer;
}

.unFavItem{
  position: absolute;
  top: 8px;
  right: 7px;
  background-color: #ffffff;
  border: 1px solid black   ;
  padding: 3px;
  border-radius: 5px;
}

.favItem:hover,.unFavItem:hover{
  /* border: 1px solid rgb(222, 176, 176) ; */
  padding: 4px;
}

.input-div {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(1, 235, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  animation: flicker 2s linear infinite;
}
.fav-card img{
  height: 250px !important;

}

/* .icon {
  color: rgb(1, 235, 252);
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 2s linear infinite;
} */

.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

@keyframes flicker {
  0% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border: none;
    box-shadow: none;
  }

  10% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border: none;
    box-shadow: none;
  }

  30% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.button {
  --color: #00A97F;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 810px;
  width: 810px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 
 .button:active {
  filter: brightness(.8);
 }
 